<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-clearfix">
      <div class="uk-width-1-2@m uk-float-left">
        <div class="uk-card uk-card-default uk-card-body">
          <div class="mi-padline">
          <span uk-icon="icon: thumbnails; ratio: 2"></span>
          </div>
          <div class="mi-padline">
          <span uk-icon="icon: table; ratio: 2"></span>
          </div>
          <div class="mi-padline">
          <span uk-icon="icon: image; ratio: 2"></span>
          </div>
          <div class="uk-heading-medium">Blocks</div>
          <p>New Template Library featuring modular Blocks of reusable content for your custom build. </p>
          <a class="uk-button uk-button-primary uk-button-large" href="{{"/components/introduction" | relative_url }}">Blokks Template Library</a>
        </div>
      </div>
    </div>
  </div>
</div>
