<div class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-primary uk-card-body" uk-scrollspy="cls: uk-animation-fade; repeat: true">
          <span uk-icon="icon: commenting; ratio: 2"></span>
          <div class="uk-heading-small">SVG Icons</div>
          <h3 class="uk-margin-small-top">Versatile Customizable SVG Icons</h3>
          <p>Icon set is completely customizable, include your logo or add material design icons. You're in control.
          </p>
          <a class="uk-button uk-button-primary uk-button-large" href="{{"/components/custom-icons" | relative_url }}">Custom Icons</a>
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <div>
          <div class="uk-light svgiconcard uk-card uk-card-body" uk-scrollspy="target: > span; cls: uk-animation-fade; delay: 100">
            <span uk-icon="icon: home; ratio: 1"></span>
            <span uk-icon="icon: code; ratio: 1"></span>
            <span uk-icon="icon: link; ratio: 1"></span>
            <span uk-icon="icon: sign-in; ratio: 1"></span>
            <span uk-icon="icon: paint-bucket; ratio: 1"></span>
            <span uk-icon="icon: question; ratio: 1"></span>
            <span uk-icon="icon: sign-out; ratio: 1"></span>
            <span uk-icon="icon: user; ratio: 1"></span>
            <span uk-icon="icon: users; ratio: 1"></span>
            <span uk-icon="icon: lock; ratio: 1"></span>
            <span uk-icon="icon: camera; ratio: 1"></span>
            <span uk-icon="icon: cog; ratio: 1"></span>
            <span uk-icon="icon: star; ratio: 1"></span>
            <span uk-icon="icon: image; ratio: 1"></span>
            <span uk-icon="icon: menu; ratio: 1"></span>
            <span uk-icon="icon: social; ratio: 1"></span>
            <span uk-icon="icon: comments; ratio: 1"></span>
            <span uk-icon="icon: settings; ratio: 1"></span>
            <span uk-icon="icon: list; ratio: 1"></span>
            <span uk-icon="icon: more; ratio: 1"></span>

            <span uk-icon="icon: clock; ratio: 1"></span>
            <span uk-icon="icon: git-branch; ratio: 1"></span>
            <span uk-icon="icon: git-fork; ratio: 1"></span>
            <span uk-icon="icon: tag; ratio: 1"></span>
            <span uk-icon="icon: mail; ratio: 1"></span>
            <span uk-icon="icon: print; ratio: 1"></span>
            <span uk-icon="icon: location; ratio: 1"></span>
            <span uk-icon="icon: bookmark; ratio: 1"></span>
            <span uk-icon="icon: world; ratio: 1"></span>
            <span uk-icon="icon: search; ratio: 1"></span>
            <span uk-icon="icon: credit-card; ratio: 1"></span>
            <span uk-icon="icon: history; ratio: 1"></span>
            <span uk-icon="icon: calendar; ratio: 1"></span>
            <span uk-icon="icon: minus; ratio: 1"></span>
            <span uk-icon="icon: cloud-upload; ratio: 1"></span>
            <span uk-icon="icon: file-pdf; ratio: 1"></span>
            <span uk-icon="icon: server; ratio: 1"></span>
            <span uk-icon="icon: pull; ratio: 1"></span>
            <span uk-icon="icon: laptop; ratio: 1"></span>
            <span uk-icon="icon: refresh; ratio: 1"></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
