
  <div class="uk-section uk-section-secondary">
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-1-2@m">
          <span uk-icon="icon: uikit; ratio: 7"></span>
          <h3 class="uk-margin-small-top">Amazing Customizable SVG Icons</h3>
          <p>Icon set is completely customizable, include your logo or add material design icons. You're in control.
          </p>
          <a class="uk-button uk-button-primary uk-button-large" href="{{"/components/custom-icons" | relative_url }}">Custom Icons</a>
        </div>
        <div class="uk-width-1-2@m">
          <div>
              <div class="uk-section-default">
                  <img src="{{"/assets/img/icons-full-preview.png" | relative_url}}" width="950" height="770" alt="">

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
