
  <div class="uk-section uk-section-muted">
    <div class="uk-container">
      <div class="uk-clearfix">

        <div class="uk-width-1-2@m uk-float-left">
          <span uk-icon="icon: github; ratio: 7"></span>
          <h3 class="uk-margin-small-top">Works perfectly on Github Pages</h3>
          <p>Made from the bottom up with <span uk-icon="icon: github-alt; ratio: 1"></span> Github in mind.
          </p>
          <button class="uk-button uk-button-primary uk-button-large" href"{{"/components/custom-icons" | relative_url }}">Custom Icons</button>
        </div>

      </div>
    </div>
  </div>
