<div class="uk-section uk-section-large uk-section-default">
  <div class="uk-container">
    <div uk-grid uk-height-match="target: .uk-card">
      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-primary uk-card-body uk-text-center uk-text-left@m" uk-scrollspy="cls: uk-animation-slide-bottom-small; repeat: true">
          <span uk-icon="icon: uikit; ratio: 2"></span>
          <div class="uk-heading-small">UiKit</div>
          <h4 class="uk-margin-small-top">Robust (yet sleek) Javascript/CSS Framework</h4>
          <p>The Uikit package is a collection of css and javascript that is reliable and comes with good documentation.
          </p>
          <a class="uk-button uk-button-secondary uk-button-large" href="{{"/components/javascript" | relative_url }}">How it works</a>
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <div class="uk-card uk-card-default uk-card-body uk-text-center uk-text-left@m" uk-scrollspy="cls: uk-animation-slide-right-small; repeat: true">
          <span uk-icon="icon: github; ratio: 2"></span>
          <div class="uk-heading-small">GitHub Pages</div>
          <h4 class="uk-margin-small-top">Works perfectly on Github Pages.</h4>
          <p>Made from the bottom up for quick install on GitHub Pages.</p>
          <a class="uk-button uk-button-primary uk-button-large" href="{{"/installation" | relative_url }}">View Installation Docs</a>
        </div>
      </div>

    </div>
  </div>
</div>
