
  <div class="uk-section uk-section-default" >
    <div class="uk-container">
      <div uk-grid>
        <div class="uk-width-1-2@m">
          <div class="uk-heading-large">this.();</div>
          <h3 class="uk-margin-small-top">Robust (yet sleek) Javascript Framework</h3>
          <p>The Uikit package is a collection of css and javascript that is reliable and comes with good documentation.
          </p>
          <button class="uk-button uk-button-secondary uk-button-large" href"{{"/components/custom-icons" | relative_url }}">How it works</button>
        </div>
        <div class="uk-width-1-2@m">
          <span uk-icon="icon: image; ratio: 7"></span>
          <h3 class="uk-margin-small-top">Build Responsive Websites Fast</h3>
          <p>Mobile navigation built-in with off-canvas menu. A sleek and rewarding JavaScript framework.
          </p>
          <button class="uk-button uk-button-primary uk-button-large" href"{{"/components/custom-icons" | relative_url }}">Custom Icons</button>
        </div>

      </div>
    </div>
  </div>
