<form action="https://usebasin.com/f/d55e7dea2480" method="POST" enctype="multipart/form-data" id="form">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Send me a message</legend>
    <div class="uk-margin">
      <label class="uk-form-label" for="name">Name</label>
      <input class="uk-input" type="text" name="name" placeholder="Your Name" />
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="email">Email</label>
      <input class="uk-input" type="email" name="email" required />
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="message">Message</label>
      <textarea class="uk-textarea" name="message"></textarea>
    </div>
    <button type="submit" class="button uk-button uk-button-primary">Send</button>
  </fieldset>
</form>
