<footer>
  <div class="uk-section uk-section-secondary uk-section-xsmall">
    <div class="uk-container">
      <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
        <div class="uk-text-center uk-text-small">
          <p>
            &copy; 2022 <a class="uk-link-text" href="{{"https://st4rlab.github.io" | relative_url }}">ST4R LAB</a> | <a class="uk-link-text" href="{{"https://github.com/st4rlab/miniml" | relative_url }}">miniml</a>
            <br>
            {% include footer-links.html %}
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
