<header>
	<div class="uk-container">
	  <nav id="nav" class="uk-navbar-container uk-navbar-transparent" uk-navbar>
	    <div class="uk-navbar-left">
			{% include logo.html %}

	      <ul class="uk-navbar-nav  uk-visible@m">
		    

	        {% for link in site.data.navigation.main %}
	        {% if link.url contains "https" %}
	          {% assign url = link.url %}
	        {% else %}
	          {% assign url = link.url | relative_url %}
	        {% endif %}
	        <li class="{% if page.url contains link.url %}uk-active{% endif %}"><a href="{{ url }}">{{ link.title }}</a></li>
	        {% endfor %}
	        {% for link in site.data.navigation.toggle %}
	        {% if link.url contains "https" %}
	          {% assign url = link.url %}
	        {% else %}
	          {% assign url = link.url | relative_url %}
	        {% endif %}
	        <li class="{% if page.url contains link.url %}uk-active{% endif %}">
	          <a href="{{ url }}">{{ link.title }}</a>
	          <div class="uk-navbar-dropdown uk-border-rounded uk-background-muted">
	            <ul class="uk-nav uk-navbar-dropdown-nav">
	              {% for link in site.data.navigation.subnav %}
	                {% if link.url contains "https" %}
	                  {% assign url = link.url %}
	                  {% else %}
	                  {% assign url = link.url | relative_url %}
	                  {% endif %}
	                  <li class="{% if page.url contains link.url %}uk-active{% endif %} uk-nav-header"><a href="{{ url }}">{{ link.title }}</a></li>
	              {% endfor %}
	            </ul>

	          </div>
	        </li>
	        {% endfor %}
	      </ul>
	      <ul class="uk-navbar-nav uk-hidden@m">
		    <li><a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle href="#offcanvasmenu"></a></li>
	      </ul>
	    </div>
	    <div class="uk-navbar-right uk-hidden@m">
	     
	    
	       {% include offcanvas.html %}
	    
	    
	    </div>
	  </nav>
  </div>
</header>
