<div id="offcanvasmenu" uk-modal>
	<div class="uk-modal-dialog uk-modal-body">
		 <button class="uk-modal-close-default" type="button" uk-close></button>
		<a href="{{"/" | relative_url}}" class="uk-logo uk-inline uk-padding-top uk-margin uk-margin-remove-left"><img src="{{"/assets/img/logo-black.svg" | relative_url}}" width="122" height="36" alt="miniml" class="uk-margin-small-right"
				uk-svg></a>
		<h5 class="uk-margin">Navigation</h5>
		<ul class="uk-nav uk-nav-default">
			{% for link in site.data.navigation.mobile %}
			{% if link.url contains "https" %}
			{% assign url = link.url %}
			{% else %}
			{% assign url = link.url | relative_url %}
			{% endif %}
			<li class="{% if page.url contains link.url %}uk-active{% endif %}"><a href="{{ url }}">{{ link.title }}</a></li>{% unless forloop.last %} {% endunless %}
			{% endfor %}
		</ul>
	</div>
</div>
