<ul class="uk-subnav uk-subnav-pill" uk-switcher>
    <li><a href="#">2017-2021 Qode One</a></li>
    <li><a href="#">2016-2017 Live Eyewear</a></li>
    <li><a href="#">2008-2015 Shopatron</a></li>
    <li><a href="#">2003-2008 Liquid Ratio</a></li>
    <li><a href="#">1999-2003 New Image Technologies</a></li>
    <li><a href="#">1996–1999 Record Grafix</a></li>
</ul>
<hr>
<ul class="uk-switcher uk-margin">
    <li>
    	<h3>IJH</h3> 
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    <li>
    	<h3>Live Eyewear</h3> 
    	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    <li>
    	<h3>Shopatron</h3> 
    	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
    <li>
    	<h3>Liquid Ratio</h3> 
    	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    <li>
    	<h3>New Image Technologies</h3> 
    	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
    <li>
    	<h3>Record Grafix</h3> 
    	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.</li>
</ul>
<hr>