@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

pre {
	background-color:#282c34;
}

.uk-navbar-nav>li>a {
	color:#000;
}
.uk-button.uk-button-primary, .uk-button.uk-button-default, .uk-button.uk-button-secondary {
	border-radius:50px;
}
.uk-card {
	border-radius:24px;
}
.uk-navbar-left.uk-light.black, .blackback {
    background-color: black;
}
.uk-navbar-left.uk-light.black .uk-navbar-nav>li>a {
color: white;
}
.blackback {
	width:10px;
	height:80px;
	display:block;
}
h1, h2, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, .uk-heading-2xlarge {
	font-family: 'Raleway', sans-serif;
	font-weight:700;
}
h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight:500;
}
.svgiconcard span {
	margin: 0 15px 15px 0;
}
pre code {
	padding:20px;
	display:block;
	border-radius:5px;
}
.highlight, pre.highlight {
    background: #282c34;
    color: #abb2bf;
    border-radius: 5px;
}
