---
layout: default
---

<div class="uk-container-expand uk-background-cover uk-background-top-center" style="background-image: url({{ page.bigimg | relative_url }})">
  <div id="page" class="uk-section uk-padding-remove-bottom">
    {% if page.bigimg %}
    <div class="uk-container uk-light" >
      <div class="intro-text">
        <h3 class="uk-heading-medium">{{page.title}}</h3>
      </div>
    </div>
    {% else %}
    <div>
      <div class="uk-container">
	      {% if page.subheading %}<h5 class="uk-width-1-2@m uk-margin-small-bottom">{{page.subheading}}</h5>{% endif %}
        <h3 class="uk-heading-medium uk-margin-remove-top">{{page.title}}</h3>
      </div>
    </div>
    <hr>
    {% endif %}
  </div>
    </div>
<div>


  <div class="uk-section">
	  <div class="uk-container-expand">
	    <article class="uk-article">
	      {{content}}
	      {% include buymeacoffee.html %}
	    </article>
     </div>
  </div>
  {% include totop.html %}
</div>
