---
layout: homepage
title: Github-UiKit
logo: light
---

<body>
  <div class="uk-background-cover uk-background-top-center" style="background-image: url({{ "/assets/img/wood-cube-bg.jpg" | relative_url }});background-color:#333333;">
    {% include header.html %}
    <div class="uk-section uk-section-large">
      <div class="intro-text uk-container">
        <h2 class="uk-heading-medium">Github-UiKit</h2>
        <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
          <div>
            <h3 class="uk-h4">Interface building blocks for professional website interaction.</h3>
            <div>
              <a class="uk-button uk-button-primary uk-button-large" href="{{"/installation" | relative_url }}">Get Started</a>
              <a class="uk-button uk-button-default uk-button-large uk-inline-block" href="https://github.com/isaacjosephhorton/github-uikit">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include sections/responsive.html %}
  {% include sections/installation.html %}
  {% include sections/custom-icons.html %}
  {% include sections/githubpages.html %}
  <div id="Connect" class="uk-section uk-section-secondary">
    <div class="uk-container">
      <h2 class="uk-heading-line"><span>Connect</span></h2>
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>
          <p>
            Github-UiKit is always looking for contributors to help out. Your involvement is creatively appreciated.
          </p>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</body>
